*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    
    background-color:rgb(235, 224, 224);
    border:10px solid rgb(18, 94, 18);
}
#arya{
    background-image: linear-gradient(to left,orangered,orange,rgb(29, 66, 29),orange,rgb(29, 66, 29),orange,rgb(49, 126, 49),orange,rgb(29, 66, 29));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family:'Courier New', Courier, monospace;
    font-size: 80px;
    margin:30px 0px 0px 90px;
}
.header li{
display:inline-block;
text-indent: 50px;
text-decoration: underline;
}
.header ul{
    border:2px solid none;
    padding:0px 2px 0px 660px;
}
.tag1{
    margin-left:206px;
    color:orangered;
}
main{
    margin:20px;
    border-left:2px solid black;
    border-right:2px solid black;
    padding:20px;
}
#heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(22, 95, 22);
    border-bottom: 2px solid rgb(233, 157, 15);
    width: max-content;
    margin-left: 60px;
    font-size: 40px;
}
.photo1 div{
display:inline-block;
}
.photo1 div a img{
    height:250px;
    width:380px;
    margin-left:60px;
    border:10px solid black;
    opacity:1;
    display:block;
    transition:.5s ease;
    backface-visibility:hidden;
}
#head{
    background-color: rgb(233, 157, 15);
    padding-left:10px;
}
.green{
    padding:20px;
}
.green h3{
    color:green;
    text-decoration: darkorange underline;
}
.green p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    word-spacing:3px;
    font-size:15px;
}
.back input{
background-color:rgb(61, 201, 61);
width:160px;
font-family: sans-serif;
color:white;
margin-left:25px;
padding:10px;
}
a{
    color:brown;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-size:15px;
}
a:hover{
    color:orange;
}
.image1:hover{
    opacity:0.3;
}
#tajmahal, #indiagate, #hawamahal, #agrafort, #redfort, #goldentemple, #jantarmantar, #jamamasjid, #gatewayofindia{
    text-align: center;
    font-family:cursive;
}
footer{
    background-image:url("../img/logo3.jpg");
    height:400px;
}
footer li{
    display:inline-block;
    text-indent:40px;
}
footer ul li{
    margin:80px 0px 0px 5px;
}
footer ul li a{
color:red;
}
.icons{
    margin:20px 0px 0px 200px;
}
.contacticon{
    margin-left:200px;
}




